/*
    UNIT:
    Absolute Unit: px, mm, pt, pc, in, Q

    Relative Unit: em, rem, vh, vw, %


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: rgb(105, 92, 92);
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.common {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 20%;
    height: 200px;
    text-align: center;
    background: darkcyan;
    border: 2px solid #000;
}

h2 {
    color: #fff;
    font-size: 1.5rem;
}

.box-1 {

}

.box-2 {

}

.box-3 {

}

.box-4 {

}

.box-1 h2 {

}

.box-2 h2 {

}

.box-3 h2 {

}

.box-4 h2 {

}

